ul{
    padding-left: 0%;
    list-style: none;
}
a{
    text-decoration: none;
}
.idioma img{
    width: 15px;
    height: 15px;
}
.idiomas img{
    width: 15px;
    height: 15px;
}
.translate{
    display: flex;
    justify-content: end;
    width: 95%;
    margin: auto;
}
.idioma{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);
    position: relative;
    }
.idioma:hover{
        background-color: rgb(228, 228, 228)
    }
    /* Lista de idiomas */
.idiomas {
        position: absolute;
        top: 35px; display: flex;
        flex-direction: column;
        visibility: hidden;
    }
.idiomas li .opcion{
        width: 100%;
    }
.idiomas li a{
        display: block;
        padding: 12px;
        font-size: 15px;
        color: rgb(85, 85, 85);
    }
.idiomas li a:hover{
        background-color: rgb(219, 219, 219);
    }
.idiomas li img{
        border-radius: 50%;
    }
    /* toogle - js */
.toggle{
        visibility: visible;
    }
    /* main */
.Info{
        width: 50%;
        margin-inline: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
/* Es una práctica común eliminar margin y padding */
body, h1, p {
    margin: 0;
    padding: 0;
    background-color: #ffe7ff;
    }
    /* Puedo seleccionar elementos por su tipo */
    .title {
    color: hwb(246 25% 7%);
    text-transform: capitalize;
    text-align: left;
    font-size: 35px;
    padding: 150px;
    margin: 30px;
    background-image: url(banner-web-childhoodcancer-2022.webp);
    }
    /* Puedo seleccionar elementos por su tipo */
    h2{
        color: goldenrod;
        font-size: 45px;
    }
    .contenedor{
        color: #1f8459;
        display: flexbox;
        font-size: 30px;
        margin: 80px 100px;
    }
    .text2{
        color: #1f8459;
        font-size: 28.5px;
        margin-top: 25px;
        text-transform: capitalize;
    }
    .text3{
        color: #1f8459;
        font-size: 22.5px;
        text-align: 15px;
        margin: 35px;
        justify-content: flex-start;
    }
    .Animado{
        display: flex;
        flex-direction: row;
        width: 350px;
        height: 450px;
        border-radius: 35px;
        margin: 15px 0px 0px 550px;
    }
    .text4{
        color: #001d04;
        font-size: 28.5px;
        margin: 15px;
        text-decoration-line: underline;
    }
    .text5{
       color: #1f8459; 
       font-size: 22.5px;
       margin: 8px;
       list-style-position: inside;
       }
       table ,th ,td{
        border: 1px solid black;
        margin: 50px;
    }
    th ,td{
        padding: 4px;
    }
    th{
        background-color: #d6d6b9;
    }
    td{
        text-align: center;
    }
    .sintomas{
        border-radius: 30px;
        width: 800px;
        height: 400px;
        justify-content: center;
        margin: 15px 0px 0px 200px;
        align-items: center;
        display: block;
    }
    .text6{
        color: rgb(66, 91, 236);
        text-transform: capitalize;
        text-align: center;
        font-size: 35px;
        margin: 20px;
        align-items: center;
        padding-top: 50px;
    }
    .Video1{
        width: 350px;
        height: 450px;
        border-radius: 30px;
        align-items: center;
        margin-left: 100px;
        padding-top: 20px;
    }
    .Video2{
        width: 350px;
        height: 450px;
        border-radius: 30px;
        margin-left: 300px;
        align-items: center;
        padding-top: 20px;
    }
    .contenedor2{
        width: 1500px;
        max-width: 500px;
        margin-left: 10px;
        height: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #1f8459;
    }
    .table1{
        height: 500px;
    }
    .table4{
        height: 379px;
    }
    h1{
        background-image: url(Golden\ .png)
    }